.calendar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
}

.calendar-day {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: var(--p-border-radius-300);
  height: 40px;
  width: 40px;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background-color: var(--p-color-bg-surface);
  box-shadow: var(--p-shadow-xs);

  &.past {
    background-color: var(--p-color-bg-fill-tertiary);
  }

  &.today {
    border-width: 2px;
    border-color: var(--pc-box-color);
  }
}

.calendar-day:hover {
  background-color: #f0f0f0;
}
.day-label {
  font-weight: bold;
}
