<p><%= t("users.mailer.email_changed.greeting", email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("users.mailer.email_changed.notification_unconfirmed", email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t("users.mailer.email_changed.notification_confirmed", email: @resource.email) %></p>
<% end %>
